@import '../../../styles/settings.scss';

.root {

  .image {
    width: 100%;
    height: 500px;

    .photoHover {
      display: none;
    }

    &:hover {
      .photoHover {
        display: block;
      }
      .mainPhoto {
        display: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    margin: 5px 0;
    text-transform: uppercase;
    color: $text-color;

    &:first-of-type {
      font-weight: 800;
    }
  }
}
