@import '../../../styles/settings.scss';

.root {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 50px;
  padding-left: 50px;

  .logo {
    position: fixed;
  }

  h1 {
    font-family: 'Pompiere', cursive;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  p {
    font-family: 'Pompiere', cursive;
    font-size: 14px;
    padding-top: 0;
    margin-top: 0;
  }


  .icon {
    margin-top: 20px;
    color: $black;
  }
}
