@import "../../../styles/settings.scss";

.root {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 50px;
  padding-left: 50px;

  .logo {
    position: fixed;
    padding-right: 55px;
    padding-left: 55px;
    background-color: $text-color;
  }

  .badge {
    top: 40px;
  }

  h1 {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    font-weight: 100;
    padding-top: 0;
    line-height: 1;
    padding-bottom: 0;
    margin-bottom: 0;
    color: $white;

    &:hover {
      text-shadow: 2px 2px $mediumGrayColor;
    }
  }

  p {
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 0;
    margin-top: 0;
    color: $white;

    &:hover {
      text-shadow: 2px 2px $mediumGrayColor;
    }
  }

  .icon {
    color: $black;
  }
}

@media (max-width: 1199px) {
  .root {
    h1 {
      font-size: 40px;
    }
  }
}


@media (max-width: 992px) {
  .root {
    padding-bottom: 120px;

    .logo {
      position: absolute;
    }

    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: 530px) {
  .root {
    padding-right: 20px;
    padding-left: 20px;

    h1 {
      font-size: 26px;
    }
  }
}
