$base-size: 12px;

$veryDarkGray: #292929;
$mediumDarkGray: #b6b6b6;
$gray: #a5a5a5;
$mediumGray: #a9a9a9;
$lightGray: #d8d8d8;
$mediumLightGray: #e2e2e2;
$veryLightGray: #e1e1e1;
$lightGrayishBlue: #e0e3ed;
$mediumLightGrayishBlue: #f4f5f7;
$battleshipGray: #434343;
$mediumGrayColor: #676767;
$shadow: #363636;
$main-color: #4a2781;
$white: #ffffff;
$black: #000;

$text-color: $black;
