@import '../../../styles/settings.scss';

.root {

  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .form {
    margin-top: 100px;
  }

  .input {
    padding: 10px;
  }

  button {
    padding: 5px 0;
    margin-top: 10px;
    width: 150px;
    background-color: $black;
    color: $white;
    outline: inherit;
  }

  .submit {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .root {

    .form {
      margin: 0;
    }
  }
}
